<div class="dashboard-div">
  <app-nav-bar></app-nav-bar>
  <div style="width: 100%; margin: 40px;">
    <div style="margin-bottom: 40px;overflow: auto;">
      <h1>Dashboard</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi magni est, maxime blanditiis corrupti adipisci quisquam provident esse id, vel eius ad natus, possimus fuga qui voluptatem. Expedita, blanditiis modi.</p>
    </div>
    <div class="search-div">
      <div>
        <mat-icon class="search-icon">search</mat-icon>
        <input type="search" placeholder="Search ..." [(ngModel)]="search" (change)="somethingChanged($event)"/>
      </div>
    </div>
    <div class="table-div">
      <table matSort mat-table [dataSource]="jsonSource" class="mat-elevation-z8" (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type. </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="links">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Link. </th>
          <td mat-cell *matCellDef="let element"> {{element.links.self}} </td>
        </ng-container>
        <ng-container matColumnDef="attributes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Attribute. </th>
          <td mat-cell *matCellDef="let element"> {{element.attributes.content}} </td>
        </ng-container>
        <ng-container matColumnDef="relationships">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Relationship. </th>
          <td mat-cell *matCellDef="let element"> {{element.relationships.authors.links.self}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
