.nav-div ul {
  list-style-type:none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.nav-div {
  background-color: rgb(112, 174, 255);
  height: 100vh;
  width: 60px;
  padding: 40px 0;
  box-sizing: border-box;
  overflow: auto;
}
.nav-div li {
  color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-div li:hover {
  background-color: rgb(84, 133, 197);
}
.nav-div ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
