<div class="nav-div" [@slide_in_out]="slider_state">
  <ul>
    <div style="width: 100%;">
      <li (click)="goto('dashboard')">
        <mat-icon>dashboard</mat-icon>
      </li>
      <li (click)="goto('contact')">
        <mat-icon>mail_outline</mat-icon>
      </li>
      <li style="cursor: not-allowed;">
        <mat-icon>circle_notifications</mat-icon>
      </li>
      <li style="cursor: not-allowed;">
        <mat-icon>no_accounts</mat-icon>
      </li>
    </div>
    <div style="width: 100%;">
      <li (click)="goto('home')">
        <mat-icon>logout</mat-icon>
      </li>
      <li style="cursor: not-allowed;">
        <mat-icon>settings</mat-icon>
      </li>
    </div>
  </ul>
</div>
